html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

main {
	display: block;
}

h1,h2,h3 {
	font-size: 2em;
    margin: 0.67em 0;
    font-family: 'Pacifico', sans-serif;
    padding: 0;
    margin: 0;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
}

b, strong {
	font-weight: bolder;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

code, kbd, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button, input {
	/* 1 */
	overflow: visible;
}

button, select {
	/* 1 */
	text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"], [type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template, [hidden] {
	display: none;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: Roboto, sans-serif;
}


.wrapper {
	margin-right: auto;
	margin-left: auto;
	padding: 0 15px;
	height: 100%;
}

@media (min-width: 576px) {
	.wrapper {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.wrapper {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.wrapper {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		max-width: 1140px;
	}
}

.btn {
	cursor: pointer;
	background: #15A9CB;
	-webkit-box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
	box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
	border-radius: 50px;
	outline: none;
	border: transparent;
}

.btn span {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
}

.btn:hover, .btn:active {
	background-color: #ea5634;
	-webkit-box-shadow: 0 4px 25px rgba(234, 86, 52, 0.3);
	box-shadow: 0 4px 25px rgba(234, 86, 52, 0.3);
}

@media (min-width: 576px) {
	.btn span {
		font-size: 18px;
	}
}

header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	margin-top: 15px;
}

.header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

main {
	position: relative;
	background-size: cover;
	z-index: 1;
	padding: 110px 0 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

main:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(47, 50, 75, 0.85);
	z-index: -1;
}
.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}
footer {
	background: #2F324B;
}

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 25px;
}